<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/axios.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">人脸识别</a>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <video id="video" width="300px" height="300px" autoplay="autoplay"></video>
        </div>
        <div class="col-md-6">
            <canvas id="canvas" width="300px" height="300px"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <input type="button" title="HTML5摄像头" value="开启摄像头" onclick="getMedia()"/>
                </div>
                <div class="col-md-6">
                    <input type="button" title="HTML5摄像头" value="关闭摄像头" onclick="stopCamrea()"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <button id="snap" onclick="takePhoto()">拍照</button>
            </div>
        </div>
    </div>
    <div class="row">
        <p id="recognize-result"></p>
    </div>
</div>


<script>
    var switch_camera;

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }

    function getMedia() {
        let constraints = {
            video: {width: 300, height: 300},
            audio: false
        };
        let video = document.getElementById("video");
        promise = navigator.mediaDevices.getUserMedia(constraints);
        promise.then(function (MediaStream) {
            video.srcObject = MediaStream;
            video.play();
            switch_camera = MediaStream;
        });
    }

    function stopCamrea() {
        switch_camera.getTracks().forEach(track => track.stop());
        switch_camera = null;
    }

    function takePhoto() {
        let video = document.getElementById("video");
        let canvas = document.getElementById("canvas");

        let ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, 300, 300);
        csrftoken = getCookie('csrftoken')
        console.log(csrftoken)
        axios.post('/api/face/', {'img': ctx.canvas.toDataURL()}, {
            headers: {
                'X-CSRFtoken': csrftoken
            }
        }).then(function (response) {
                let data = response.data;
                let p = document.getElementById('recognize-result');
                $(p).prepend("<br>", JSON.stringify(data))
            }
        )
    }
</script>
</body>
</html>